.list-item {
    cursor: pointer;
}

.tile {
    min-width: 329.078;
    min-height: 150px;
    padding: 10px;
    border-radius: 4px;
    background-color: #F0F0F0;
}

.horizontal-tile {
    min-width: 200px;
    min-height: 130px;
    padding: 10px;
    border-radius: 4px;
    background-color: #F0F0F0;
    margin-left: 200px;
}

.default-button {
    min-width: 120px;
    min-height: 40px;
    color: black;
    border-radius: 4px;
    border: none;
    background-color: #F0F0F0;
    font-weight: bold;
    padding: 10px;
}

.Container {
    text-align: center;
}

.margins {
    margin: 20px;
}

.small-margins {
    margin: 5px;
}

.pull-apart {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pull-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parent-project-info {
    text-color: grey;
    font-size: 10px;
    font-weight: normal;
    word-wrap: break-word;
    max-width: 10rem;
}

.child-project-info {
    text-color: black;
    font-size: 14px;
    font-weight: bold;
    word-wrap: break-word;
}


.fat-button {
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
}

.pull-down {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
}

.pull-togethor {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.pull-togethor-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 15%;
    margin: 10px;
}

.header-size {
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica;
}

.BackgroundTile {
    width: 20%;
    height: 90%;
    vertical-align: middle;
    border: 1px solid #000;
}

.custom-list-group {
    width: 12%;
    min-height: 100px;
    float: left;
    max-height: 930px;
    overflow: scroll;
}

.floater-section-left {
    width: 55%;
    float: left;
    margin-left: 12px;
    border-right: 1px solid #F0F0F0;
}

.floater-section-right {
    width:30%;
    float: left;
}

.field-name {
    font-size: 12px;
    min-width: 20%;
    word-wrap: break-word;
}

.section-background {
    min-width: 100px;
    min-height: 40px;
}

.field-update-tile-tabs {
    max-height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.field-update-tile {
    max-height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 10px;
}

.commentTextArea {
    width: 80%;
    height: 70px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.commentTextArea {
    width: 80%;
    height: 70px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.textAreaFields {
    width: 25rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 14px;
    resize: none;
}

.text-area-center {
    margin: 10px;
    text-align: center;
    vertical-align: center;
}

.comment {
    width: 75%;
    min-height: 35px;
    background-color: #0d6efd;
    font-size: 14px;
    margin: 10px;
    text-align: left;
    padding: 5px;
    border-radius: 4px;
    color: white;
}

.webLinkText {
    width: 60%;
    min-height: 20px;
    font-size: 12px;
    text-align: left;

}

.link {
   color:#0d6efd;
   text-decoration: underline;
   background-color: none;
   font-size: 14px;
   cursor: pointer;
}

.weblink {
    max-width: 90%;
    min-height: 20px;
    font-size: 12px;
    margin: 10px;
    text-align: left;
    padding: 5px;
}

.date-time {
    font-size: 10px;
    color:rgb(160, 159, 159);
}

.csv-upload-container {
    max-width: 30%;
    max-height: 300px;
    background-color: #E8F6FF;
    padding: 10px;
    text-align: left;
}

.alignment-choose-file {
    text-align: center;
}

.space-up-down {
    margin-top: 10px;
    margin-bottom: 10px;
}

.csv-input {
    margin-left: 40%;
}