.Container {
    text-align: center;
}

.margins {
    margin: 20px;
}

.pull-apart {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#basic-nav-dropdown {
    background-color: #0d6efd;
    margin: 5px;
    border-radius: 10px;
    min-width: 100px;
    text-align: center;
}

.fat-button {
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    width: 100px;
    height: 100px;
}

.pull-down {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
}

.pull-togethor {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.pull-togethor-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 15%;
    margin: 10px;
}

.header-size {
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica;
}

.BackgroundTile {
    width: 20%;
    height: 90%;
    vertical-align: middle;
    border: 1px solid #000;
}

.custom-list-group {
    width: 20%;
    min-height: 100px;
    float: left;
}