.list-item {
    cursor: pointer;
}

.tile {
    min-width: 329.078;
    min-height: 128px;
    padding: 10px;
    border-radius: 4px;
    background-color: #F0F0F0;
}

.horizontal-tile {
    min-width: 200px;
    min-height: 130px;
    padding: 10px;
    border-radius: 4px;
    background-color: #F0F0F0;
    margin-left: 305px;
}

.default-button {
    min-width: 120px;
    min-height: 40px;
    color: black;
    border-radius: 4px;
    border: none;
    background-color: #F0F0F0;
    font-weight: bold;
    padding: 10px;
}

.Container {
    text-align: center;
}

.margins {
    margin: 20px;
}

.small-margins {
    margin: 5px;
}

.pull-apart {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pull-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parent-project-info {
    text-color: grey;
    font-size: 10px;
    font-weight: normal;
}

.child-project-info {
    text-color: black;
    font-size: 14px;
    font-weight: bold;
}


.fat-button {
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
}

.pull-down {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
}

.pull-togethor {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.pull-togethor-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 15%;
    margin: 10px;
}

.header-size {
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica;
}

.BackgroundTile {
    width: 20%;
    height: 90%;
    vertical-align: middle;
    border: 1px solid #000;
}

.custom-list-group {
    width: 20%;
    min-height: 100px;
    float: left;
}