.Tile {
    width: 95%;
    height: 250px;
    display: inline-block;
}

.Image {
    width: 20%;
    height: 90%;
    vertical-align: middle;
    border: 1px solid #000;
}

.Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Container {
    text-align: center;
}

.Status {
    width: 18%;
    height: 90%;
    background-color: #F0F0F0;
    text-align: left;
    padding:2px;
}

.Recents {
    width: 40%;
    height: 90%;
    background-color: #F0F0F0;
    text-align: left;
    padding:2px;
}

.PersonnelAssignedTile {
    width: 20%;
    height: 90%;
    background-color: #F0F0F0;
    text-align: left;
    padding:2px;
}

.header-size {
    font-size: 10px;
    font-weight: bold;
    font-family: Helvetica;
}

.breed {
    font-size: 20px;
    color: rgb(71, 71, 247);
    margin-left: 10px;
}

.disorders-traits {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.superscriptSize{
    font-size: 30px;
    color: red;
}

.subscriptSize {
    font-size: 10px;
}

.bottomSize {
    font-size: 12px;
    margin: 12px;
}

th {
    font-size: 12px;
}

td {
    font-size: 10px;
}

.PersonnelAssignedList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.PersonnelAssignedContent {
    font-size: 14px;
    font-weight: bold;
    font-family: Helvetica;
}

.button { 
    line-height: 14px;
}

.pull-down {
    display: flex;
    flex-direction: row;
}